/*Post*/
.twitter-text.max .emojionearea, .twitter-text.max .emojionearea.form-control{
    height: 232px;
    margin-top: 15px;
}

/*Preview photos*/
.preview-twitter-photo{
    position: relative;
}

.preview-twitter-photo .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-twitter-photo .preview-header i{
    font-size: 20px;
}

.preview-twitter-photo .preview-header .twitter-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: rgb(29, 161, 242);
    font-size: 18px;
}

.preview-twitter-photo .preview-header .twitter-logo i{
    font-size: 30px;
}

.preview-twitter-photo .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-twitter-photo .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-twitter-photo .preview-content .user-info .text{
    position: absolute;
    top: 14px;
    font-size: 13px;
    left: 68px;
    line-height: 17px;
}

.preview-twitter-photo .preview-content .user-info .text .name{
    font-weight: bold;
    color: #555;
}

.preview-twitter-photo .preview-content .user-info .text span{
    color: #657786;
}

.preview-twitter-photo .preview-content .preview-image{
    height: 268px;
    background-size: cover;
    background-position: center center;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;
}

.preview-twitter-photo .preview-content .preview-image .item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #fff;
    transition: all 0.5s;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo1,
.preview-twitter-photo .preview-content .preview-image.preview-photo2,
.preview-twitter-photo .preview-content .preview-image.preview-photo3,
.preview-twitter-photo .preview-content .preview-image.preview-photo4{
    background-color: #fff;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo4 .item:nth-child(1),
.preview-twitter-photo .preview-content .preview-image.preview-photo3 .item:nth-child(1),
.preview-twitter-photo .preview-content .preview-image.preview-photo2 .item:nth-child(1){
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 6px 0 0 6px;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo1 .item:nth-child(1){
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 6px 6px 6px 6px;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo4 .item:nth-child(2){
    width: 50%;
    height: 33.3333333%;
    float: left;
    border-radius: 0 6px 0 0;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo4 .item:nth-child(3){
    width: 50%;
    height: 33.3333333%;
    float: left;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo4 .item:nth-child(4){
    width: 50%;
    height: 33.3333333%;
    float: left;
    border-radius: 0 0 6px 0;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo3 .item:nth-child(2){
    width: 50%;
    height: 50%;
    float: left;
    border-radius: 0 6px 0 0;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo3 .item:nth-child(3){
    width: 50%;
    height: 50%;
    float: left;
}

.preview-twitter-photo .preview-content .preview-image.preview-photo2 .item:nth-child(2){
    width: 50%;
    height: 100%;
    float: left;
}

.preview-twitter-photo video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preview-twitter-photo .preview-content .post-info,.preview-twitter-photo .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #7999c0;
}

.preview-twitter-photo .preview-content .post-info img,.preview-twitter-photo .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-twitter-photo .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #fafafa;
}

.preview-twitter-photo .preview-content .preview-comment{
    position: relative;
    border-top: 1px solid #eee;
    padding: 15px 15px;
    color: #999;
    text-align: center;
}

/*Preview video*/
.preview-twitter-video{
    position: relative;
}

.preview-twitter-video .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-twitter-video .preview-header i{
    font-size: 20px;
}

.preview-twitter-video .preview-header .twitter-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: rgb(29, 161, 242);
    font-size: 18px;
}

.preview-twitter-video .preview-header .twitter-logo i{
    font-size: 30px;
}

.preview-twitter-video .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-twitter-video .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-twitter-video .preview-content .user-info .text{
    position: absolute;
    top: 14px;
    font-size: 13px;
    left: 68px;
    line-height: 17px;
}

.preview-twitter-video .preview-content .user-info .text .name{
    font-weight: bold;
    color: #555;
}

.preview-twitter-video .preview-content .user-info .text span{
    color: #657786;
}

.preview-twitter-video .preview-content .preview-image{
    height: 268px;
    background-size: cover;
    background-position: center center;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;
}

.preview-twitter-video video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preview-twitter-video .preview-content .post-info,.preview-twitter-video .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #7999c0;
}

.preview-twitter-video .preview-content .post-info img,.preview-twitter-video .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-twitter-video .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #fafafa;
}

.preview-twitter-video .preview-content .preview-comment{
    position: relative;
    border-top: 1px solid #eee;
    padding: 15px 15px;
    color: #999;
    text-align: center;
}

/*Preview Text*/
.preview-twitter-text{
    position: relative;
}

.preview-twitter-text .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-twitter-text .preview-header i{
    font-size: 20px;
}

.preview-twitter-text .preview-header .twitter-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: rgb(29, 161, 242);
    font-size: 18px;
}

.preview-twitter-text .preview-header .twitter-logo i{
    font-size: 30px;
}

.preview-twitter-text .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-twitter-text .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-twitter-text .preview-content .user-info .text{
    position: absolute;
    top: 14px;
    font-size: 13px;
    left: 68px;
    line-height: 17px;
}

.preview-twitter-text .preview-content .user-info .text .name{
    font-weight: bold;
    color: #555;
}

.preview-twitter-text .preview-content .user-info .text span{
    color: #657786;
}

.preview-twitter-text .preview-content .post-info,.preview-twitter-text .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #7999c0;
}

.preview-twitter-text .preview-content .post-info img,.preview-twitter-text .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-twitter-text .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #fafafa;
}

.preview-twitter-text .preview-content .preview-comment{
    position: relative;
    border-top: 1px solid #eee;
    padding: 15px 15px;
    color: #999;
    text-align: center;
}