/*Post*/
.facebook-text.max .emojionearea, .facebook-text.max .emojionearea.form-control{
    margin-top: 15px;
}

/*Facebook Popup*/
.facebook_popup_add .tab-content{
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0 0 4px 4px;
}

.facebook_popup_add .nav-tabs a{ 
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}

.facebook_popup_add .nav-tabs>li.active>a,
.facebook_popup_add .nav-tabs>li.active>a:hover,
.facebook_popup_add .nav-tabs>li.active>a:focus{
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #f0f0f0;
}

.facebook_popup_add .iframe_access_token iframe{
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-top: 15px;
}

/*List account*/
.facebook-app .card-header .nav-tabs{
    height: auto;
    margin-bottom: 15px;
    padding-right: 15px;
    border-bottom: 1px solid transparent;
} 

.facebook-app .card-header .nav-tabs>li>a{
    color: #000;
    padding: 2px 8px;
    border-radius: 50px;
    margin: 15px 0px 0 15px;
    border: none;
    transition: 0.3s all;
}

.facebook-app .card-block  .tab-content{
    padding: 0 0px;
    border-top: 1px solid #f5f5f5;
}

.facebook-app .card-block  .tab-content.minh500{
    min-height: 500px;
}

.facebook-app .card-block  .tab-content .input-group{
    padding: 15px;
}

.facebook-app .card-header .nav-tabs>li>a:focus, 
.facebook-app .card-header .nav-tabs>li>a:hover{
    background: #2196F3;
    color: #fff;
}

.facebook-app .card-header .nav-tabs>li.active>a, 
.facebook-app .card-header .nav-tabs>li.active>a:focus, 
.facebook-app .card-header .nav-tabs>li.active>a:hover{
    background: #2196F3;
    color: #fff;
}

/*Preview photos*/
.preview-fb-media{
    position: relative;
}

.preview-fb-media .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-fb-media .preview-header i{
    font-size: 20px;
}

.preview-fb-media .preview-header .fb-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: #4267b2;
    font-size: 18px;
}

.preview-fb-media .preview-header .fb-logo i{
    font-size: 30px;
}

.preview-fb-media .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-fb-media .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-fb-media .preview-content .user-info .text{
    position: absolute;
    top: 14px;
    font-size: 13px;
    left: 68px;
    line-height: 17px;
}

.preview-fb-media .preview-content .user-info .text .name{
    font-weight: bold;
    color: #365899;
}

.preview-fb-media .preview-content .user-info .text span{
    color: #90949c;
    font-size: 12px;
}

.preview-fb-media .preview-content .preview-image{
    height: 303px;
    background-size: cover;
    background-position: center center;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.preview-fb-media .preview-content .preview-image .item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #fff;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.preview-fb-media .preview-content .preview-image.preview-media1,
.preview-fb-media .preview-content .preview-image.preview-media2,
.preview-fb-media .preview-content .preview-image.preview-media3,
.preview-fb-media .preview-content .preview-image.preview-media4{
    background-color: #fff;
}

.preview-fb-media .preview-content .preview-image.preview-media2{
    height: 180px;
}

.preview-fb-media .preview-content .preview-image.preview-media2 .item:nth-child(1){
    width: 50%;
    height: 100%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media3 .item:nth-child(1){
    width: 100%;
    height: 50%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media4 .item:nth-child(1),
.preview-fb-media .preview-content .preview-image.preview-media4 .item:nth-child(2),
.preview-fb-media .preview-content .preview-image.preview-media4 .item:nth-child(3),
.preview-fb-media .preview-content .preview-image.preview-media4 .item:nth-child(4)
{
    width: 50%;
    height: 50%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media1 .item:nth-child(1){
    width: 100%;
    height: 100%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media3 .item:nth-child(2){
    width: 50%;
    height: 50%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media3 .item:nth-child(3){
    width: 50%;
    height: 50%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media2 .item:nth-child(2){
    width: 50%;
    height: 100%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media5 .item:nth-child(1),
.preview-fb-media .preview-content .preview-image.preview-media5 .item:nth-child(2)
{
    width: 50%;
    height: 64%;
    float: left;
}

.preview-fb-media .preview-content .preview-image.preview-media5 .item:nth-child(3),
.preview-fb-media .preview-content .preview-image.preview-media5 .item:nth-child(4),
.preview-fb-media .preview-content .preview-image.preview-media5 .item:nth-child(5)
{
    width: 33.3333%;
    height: 36%;
    float: left;
}

.preview-fb-media video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preview-fb-media .preview-content .post-info,.preview-fb-media .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #000;
}

.preview-fb-media .preview-content .post-info img,.preview-fb-media .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-fb-media .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #f5f5f5;
}

.preview-fb .preview-comment{
    position: relative;
    padding: 7px 0px 12px;
    color: #999;
    text-align: center;
    border-top: 1px solid #eee;
    margin: 0 10px;
    margin-top: 10px;
}

.preview-fb .preview-comment .item{
    float: left;
    margin-right: 25px;
    font-weight: 600;
    font-size: 12px;
}

.preview-fb .preview-image .item .count{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 31%;
    font-size: 27px;
}

.preview-fb .preview-comment .item .fb-icon{
    position: relative;
    top: 3px;
}

.fb-icon{
    background-image: url(../img/fb-icon.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.fb-icon.like{
    background-position: 0 0;
}

.fb-icon.comment{
    background-position: 0 -22px;
}

.fb-icon.share{
    background-position: 0 -42px;
}

/*Preview Text*/
.preview-fb-text{
    position: relative;
}

.preview-fb-text .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-fb-text .preview-header i{
    font-size: 20px;
}

.preview-fb-text .preview-header .fb-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: #4a76a8;
    font-size: 18px;
}

.preview-fb-text .preview-header .fb-logo i{
    font-size: 30px;
}

.preview-fb-text .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-fb-text .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-fb-text .preview-content .user-info .text{
    position: absolute;
    top: 14px;
    font-size: 13px;
    left: 68px;
    line-height: 17px;
}

.preview-fb-text .preview-content .user-info .text .name{
    font-weight: bold;
    color: #2a5885;
}

.preview-fb-text .preview-content .user-info .text span{
    color: #939393;
    font-size: 12px;
}

.preview-fb-text .preview-content .post-info,.preview-fb-text .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #000;
}

.preview-fb-text .preview-content .post-info img,.preview-fb-text .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-fb-text .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #f5f5f5;
}

.preview-fb-text .preview-content .preview-comment{
    margin-top: 0px;
}

/*Preview Link*/
.preview-fb-link{
    position: relative;
}

.preview-fb-link .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-fb-link .preview-header i{
    font-size: 20px;
}

.preview-fb-link .preview-header .fb-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: #4a76a8;
    font-size: 18px;
}

.preview-fb-link .preview-header .fb-logo i{
    font-size: 30px;
}

.preview-fb-link .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-fb-link .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-fb-link .preview-content .user-info .text{
    position: absolute;
    top: 14px;
    font-size: 13px;
    left: 68px;
    line-height: 17px;
}

.preview-fb-link .preview-content .user-info .text .name{
    font-weight: bold;
    color: #2a5885;
}

.preview-fb-link .preview-content .user-info .text span{
    color: #939393;
    font-size: 12px;
}

.preview-fb-link .preview-content .post-info,.preview-fb-link .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #000;
}

.preview-fb-link .preview-content .post-info img,.preview-fb-link .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-fb-link .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #f5f5f5;
}

.preview-fb-link .preview-content .line-no-text.w50{
    width: 50%;
}

.preview-fb-link .preview-content .preview-link{
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 10px;
    margin-bottom: 10px;
}

.preview-fb-link .preview-content .preview-link .image{
    height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: url(../img/default_image.png) center center no-repeat;
    background-size: cover;
}

.preview-fb-link .preview-content .preview-link .info{
    padding: 10px;
    letter-spacing: normal;
}

.preview-fb-link .preview-content .preview-link .info .title{
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
}

.preview-fb-link .preview-content .preview-link .info .desc{
    color: #000;
    font-size: 12px;
    font-family: inherit;
}

.preview-fb-link .preview-content .preview-link .info .website{
    color: #90949c;
    font-size: 12px;
    text-transform: uppercase;
    font-family: inherit;
    margin-top: 10px;
}

.preview-fb-link .preview-content .preview-comment{
    margin-top: 0px;
}

/*Join groups*/
.facebook-join-group-content{
    min-height: 463px;

}

.facebook-join-group-content .empty{
    height: 463px;
    border-radius: 4px;
    background: url(../img/empty-icon.png) no-repeat center center;
}