*{
	margin: 0;
	padding: 0;
}

::selection {
  background: #2196F3; 
  color: #fff;
}
::-moz-selection {
  background: #2196F3; 
  color: #fff;
}

.m0{ margin: 0!important; }
.m15{ margin: 15px!important; }
.mb0{ margin-bottom: 0!important; }
.ml0{ margin-left: 0!important; }
.mr0{ margin-right: 0!important; }
.mt0{ margin-top: 0!important; }
.mt15{ margin-top: 15px!important; }
.mb15{ margin-bottom: 15px!important; }
.mr15{ margin-right: 15px!important; }
.ml15{ margin-left: 15px!important; }

.p0{ padding: 0!important; }
.pt0{ padding-top: 0!important; }
.pb0{ padding-bottom: 0!important; }
.pl0{ padding-left: 0!important; }
.pr0{ padding-right: 0!important; }
.p15{ padding: 15px!important; }
.pl15{ padding-left: 15px!important; }
.pr15{ padding-right: 15px!important; }
.pt15{ padding-top: 15px!important; }
.pb15{ padding-bottom: 15px!important; }
.b0{ border: none!important; }
.br0{ border-right: none!important; }
.bl0{ border-left: none!important; }
.bt0{ border-top: none!important; }
.bb0{ border-bottom: none!important; }
.bra0{ border-radius: 0px!important; }
[class^="ft-"]{
  position: relative;
  top: 1px;
}
.form-help{
  position: relative;
}
.uc{
  text-transform: uppercase;
}

.btn-default {
  border-color: #eee;
}

.form-help .webuiPopover{
  position: absolute;
  top: 11px;
  right: 8px;
  color: #cecece;
}

.text-primary{
  color: #2196F3;
}

li{
	list-style: none;
}

body{
	color: #120705;
	background: #F5F7FA;
    font-family: Montserrat,Georgia,'Times New Roman',Times,serif;
    font-size: 14px;
}

a{
	color: #2C3648;
	text-decoration: none;
}

a:hover,a:focus{
	color: #2C3648;
	text-decoration: none;
}

.loading-overplay{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 800;
  top: 0;
  display: none;
  background: rgba(64,78,103,0.5);
}

.hide-overplay{
  display: none!important;
}

.loading-overplay.top{
  z-index: 8000;
}

.header{
	height: 56px;
	background: #fff;
	position: relative;
	z-index: 1000;
	position: fixed;
  top: 0px;
  width: -webkit-calc(100%);
  width: -moz-calc(100%);
  width: calc(100%);
  box-shadow: 0 8px 24px rgba(21,48,142,.006);
  border-bottom: 1px solid #f5f5f5;
}

.header .navbar-header .navbar-brand.navbar-brand-small{
  display: block;
}

.header .navbar-header .navbar-brand.navbar-brand-big{
  display: none;
}

.header .navbar-header{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
	width: 56px;
  height: 56px;
  background: #fff;
  /*border-bottom: 1px solid #f5f5f5;*/
  border-right: 1px solid #f5f5f5;
}

.header .navbar-header .navbar-brand{
  padding: 9px 10px;
}

.header .navbar-header .navbar-brand img{
	height: 35px;
	display: inline-block;
}

.header-breadcrumb{
  height: 56px;
  display: inline-block;
  margin-left: 71px;
  line-height: 54px;
  font-size: 16px;
}

.header-menu{
	margin-right: 15px;
}

.header-menu > li > a{
	background: transparent;
	color: #000;
}

.header-menu > li > a:hover, .header-menu > li > a:focus{
	background: transparent;
	color: #000;
}

.header-menu>li>a {
  padding-top: 17px;
  padding-bottom: 17px;
}

.header-menu .menu-button{
  padding: 11px 15px!important;
}

.header-menu .menu-button .btn{
  color: #fff;
  border-radius: 50px;
}

.header-menu .menu-settings{
  padding: 17px 15px;
  font-size: 22px;
  display: inline-block;
  color: #7f8a9f;
  border-left: 1px solid #f5f5f5;
}

.header-menu .dropdown-user{
  padding: 0 0 0 15px;
  border-left: 1px solid #f5f5f5;
}

.header-menu .dropdown-user a.dropdown-toggle{
  padding-top: 14px;
  padding-bottom: 14px;
  display: inline-block;
  color: #000;
  background-color: transparent!important;
}

.header-menu .dropdown-user a.dropdown-toggle > img{
	height: 26px;
  border: 2px solid #fff;
  padding: 2px;
}

.header-menu .dropdown-user .dropdown-menu{
  min-width: 144px;
  margin: 0 0;
  padding: 0;
  border: 1px solid #f5f5f5;
  box-shadow: none;
}

.header-menu .dropdown-user .dropdown-menu .dropdown-item{
  padding: 4px 10px 3px;
  display: -webkit-box;
  
}

.header-menu .dropdown-user .dropdown-menu .dropdown-item:not(:first-child){
  border-top: 1px solid #f5f5f5;
}

.header-menu .dropdown-user .dropdown-menu .dropdown-item:last-child{
  border-bottom: 1px solid transparent;
}

.header-menu .dropdown-user .dropdown-down-icon{
	position: relative;
	top: 2px;
}

.header-menu  .language-mobile{
  display: none;
  border-top: 1px solid #f5f5f5;
}

.header-menu .dropdown-lang{
  padding: 15px;
  border-left: 1px solid #f5f5f5;
}

.header-menu .dropdown-lang .dropdown-toggle{
  background-color: transparent!important;
}

.header-menu .dropdown-lang .dropdown-down-icon{
  color: #000;
  margin-right: 0;
}

.header-menu .dropdown-lang .dropdown-menu{
  margin-top: 15px;
  min-width: 140px;
  padding: 0;
  border: 1px solid #f5f5f5;
  box-shadow: none;
  margin-right: -16px;
}

.header-menu .dropdown-lang .dropdown-menu .dropdown-item{
  display: inline-block;
  padding: 4px 10px;
  width: 100%;
  margin-bottom: 0px;
}

.header-menu .dropdown-lang .dropdown-menu .dropdown-item:not(:first-child){
  border-top: 1px solid #f5f5f5;
}

.header .menu-toggle{
	display: inline-block;
	padding: 7px 10px;
	font-size: 30px;
	position: relative;
	z-index: 10;
	margin-left: 56px;
	color: #F5F7FA;
}

.sidebar{
  position: fixed;
  top: -1px;
  z-index: 900;
  height: -webkit-calc(100% + 1px);
  height: -moz-calc(100% + 1px);
  height: calc(100% + 1px);
  width: 56px;
  background: #fff;
  -webkit-box-shadow: 1px 0 20px rgba(21,48,142,.006);
  box-shadow: 1px 0 20px rgba(21,48,142,.006);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .menu-navigation{
  height: -webkit-calc(100% - 56px);
  height: -moz-calc(100% - 56px);
  height: calc(100% - 56px);
  border-right: 1px solid #f5f5f5;
  width: 56px;
  position: relative;
  top: 56px;
  margin-bottom: 0px;
}

.sidebar .nav-line{
	width: -webkit-calc(100% - 0px);
  width: -moz-calc(100% - 0px);
  width: calc(100% - 0px);
  margin: 0px 0px;
	border-bottom: 1px solid #d7d7d7;
}

.sidebar .menu-navigation .nav-item{
	width: 100%;
  line-height: 45px;
}

.sidebar .menu-navigation .nav-item > a{
	font-size: 30px;
	width: 100%;
	height: 45px;
	text-align: center;
	display: block;
	color: #808b9f;
	border-left: 4px solid transparent;
}

.sidebar .menu-navigation .nav-item.open > a{
	position: relative;
	background: #fff;
	width: 57px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	border-left: 4px solid #2196F3;
}

.sidebar .menu-navigation .nav-item.active > a{
    background-color: #2196f3;
    color: #fff;
  }

.sidebar .menu-navigation .nav-item:not(.active) > a:hover{
	background: #f5f5f5;
}

.sidebar .menu-navigation .nav-item i[class*="ft-"]{
  position: relative;
  top: 3px;
}

.sidebar .menu-navigation .nav-item .name{
  display: none;
}

.menu-content{
  display: block;
  position: relative;
  width: 184px;
  left: 0;
  top: 0;
  margin-bottom: 0;
  overflow: hidden;
  max-height: 350px;
}

.sidebar .menu-navigation .menu-content{
  display: none;
  position: absolute;
  width: 184px;
  left: 56px;
  top: 0;
}

.sidebar .menu-navigation .nav-item.open .menu-content{
	display: block;
}

.menu-content > li > a{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(64, 78, 103);
    padding: 12px 10px;
    border-bottom: 1px solid #f5f5f5;
}

.menu-content > li > a:hover{
	color: #2196F3;
}

.menu-content > li.active > a{
  color: #2196f3;
}

/*Content*/
.app-content {
  margin-top: 56px;
  margin-left: 56px;
}

.app-content>.wrap-content{
  padding-top: 15px;
}

.panel-dropdown .panel-dropdown-head{
  border-radius: 4px;
  border: 2px solid #f5f5f5;
  color: #120705;
  display: block;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.panel-dropdown .panel-dropdown-head .panel-dropdown-icon {
	position: relative;
	top: 5px;
	font-size: 30px;
}

.panel-dropdown.collapsed .panel-dropdown-block{  
  display: none;
}

/*Box Right*/
.wrap-main{
  position: relative;
}

.box-right{
  background: #fff;
}

/*File Manager*/
.fa-google-drive{
  width: 13px;
  height: 13px;
  background: url(../img/google-drive-icon.png) no-repeat top center;
    background-size: 14px;
    position: relative;
    top: 1px;
}

.image-manage .image-manage-footer .item:hover .fa-google-drive{
  background-position: bottom center;
}

/*Tag*/
.tag{
  color: #fff;
  padding: 0 4px 0 4px;
  text-align: center;
  display: block;
}

.tag:hover,.tag:focus{
  color: #f0f0f0;
}

/*Modal*/
.modal-content{
  border-radius: 4px;
}

.modal-title{
  font-weight: 500;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-size: 14px;
}

.modal-title .fa {
    font-size: 20px;
    position: relative;
    top: 2px;
}

/*Card*/
.card{
  position: relative;
	background: #fff;
  border-radius: 4px;
}

.card-header{
  padding: 20px 15px;
}

.card-header.border{
  border-bottom: 1px solid #f8f8f8;
}

.card-title{
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .05rem;
  font-size: 14px;
}

.card-title .fa{
  font-size: 20px;
  position: relative;
  top: 2px;
}

.card .card-block{
	padding: 0 15px 15px;
}

.card-footer{
  padding: 15px;
  border-top: 1px solid #f0f0f0;
}

.card-option a{
  border-radius: 99px;
  background: #eee;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
}

.card-option a.btn{
    background: #e8f5ff;
    width: auto;
    line-height: 20px;
    font-size: 10px;
    padding: 0 8px;
    font-weight: 400;
  }

.card-overplay{
  position: absolute;
  background: rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  font-size: 72px;
  color: #2196F3;
  display: none;
}

.card-overplay i{
  position: relative;
  top: 45%;
}

.card-divider{
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  padding: 15px 15px 5px;
}

/*Button*/
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #F3F7F9;
    border-color: transparent;
    box-shadow: none;
}

.btn{
  box-shadow: none!important;
}

.btn-full{
  text-transform: uppercase;
  font-size: 16px;
  height: 68px;
  border-radius: 0!important;
  margin-top: 0!important;
}

/*Form*/
textarea,input,select{
  border: 1px solid #f0f0f0!important;
  box-shadow: none!important;
  resize: none; 
}

label{
  font-weight: 500;
  font-size: 11px;
}

/*Button*/
.btn-grey{
  color: #fff;
  background-color: #d4d4d4;
}

.btn-grey:hover,.btn-grey:focus{
  color: #fff;
  background-color: #bcbcbc;
}

/*Table*/
.app-table .table-filter{
  padding: 15px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.app-table .table{
  border-top: none;
}

.app-table .table>thead>tr>th {
  border-bottom: 2px solid #f5f5f5;
}

.app-table th>a{
  display: block;
  position: relative;
}

.app-table .text{
  margin-left: 0;
  margin-right: 10px;
  white-space: pre;
}

.app-table .sort-caret{
  position: absolute;
  top: 4px;
  right: -3px;
}

.app-table .sort-caret .asc{
  position: absolute;
  left: 0;
  top: 0;
  color: #f5f5f5;
}

.app-table .sort-caret .desc{
  position: absolute;
  left: 0;
  top: 0;
  color: #f5f5f5;
}

.app-table .sort-caret.up .asc{
  color: #120705;
}

.app-table .sort-caret.up .desc{
  color: #f5f5f5;
}

.app-table .sort-caret.down .desc{
  color: #120705;
}

.app-table .sort-caret.down .asc{
  color: #f5f5f5;
}

.table-bordered>tbody .btn-group-option{
  min-width: 74px;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
  border: 1px solid #f5f5f5;
}

.app-table .table>tbody>tr>td, 
.app-table .table>tbody>tr>th, 
.app-table .table>tfoot>tr>td, 
.app-table .table>tfoot>tr>th, 
.app-table .table>thead>tr>td, 
.app-table .table>thead>tr>th {
  padding: 15px 15px 15px 8px!important;
}

.dataTables_empty{
  color: #eee;
  text-align: center;
  height: 200px;
  background: url(../img/empty-icon.png) no-repeat center center;
}

.app-table .card-footer{
  border-top: 1px solid transparent;
}

.dataTables_wrapper .row:nth-child(1),
.dataTables_wrapper .row:nth-child(3){
  display: none!important;
}

table.dataTable.collapsed th .pure-checkbox{
  position: relative;
  left: 25px;
}

table.dataTable{
  margin-top: 0!important;
  margin-bottom: 0!important;
  border: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before{
  left: 6px;
  top: 16px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    padding-left: 33px!important;
}
table.dataTable.dtr-inline.collapsed th:first-child{
    min-width: 65px;
}

/*Tabs list*/
.tab-list .card-header .nav-tabs{
    height: auto;
    margin-bottom: 15px;
    padding-right: 15px;
    border-bottom: 1px solid transparent;
} 

.tab-list .card-header .nav-tabs>li>a{
    color: #000;
    padding: 2px 8px;
    border-radius: 50px;
    margin: 15px 0px 0 15px;
    border: none;
    transition: 0.3s all;
}

.tab-list .card-block  .tab-content{
    padding: 0 0px;
    border-top: 1px solid #f5f5f5;
}

.tab-list .card-block  .tab-content.minh500{
    min-height: 500px;
}

.tab-list .card-block  .tab-content .input-group{
    padding: 15px;
}

.tab-list .card-header .nav-tabs>li>a:focus, 
.tab-list .card-header .nav-tabs>li>a:hover{
    background: #2196F3;
    color: #fff;
}

.tab-list .card-header .nav-tabs>li.active>a, 
.tab-list .card-header .nav-tabs>li.active>a:focus, 
.tab-list .card-header .nav-tabs>li.active>a:hover{
    background: #2196F3;
    color: #fff;
}

/*Dashboard Page*/
.box-analytic{
  padding: 15px;
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
}

/*Pagination*/
.page-navigation{
  text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.pagination>li>a, .pagination>li>span {
    padding: 6px 12px;
    color: #2196F3;
}

/*Plugins*/
/* Checkbox & Radio ============================ */
.position-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.pure-checkbox{
    display: inline-block;
}
.pure-checkbox .checkbox-text-right{
  display: inline-block;
  margin-left: 25px;
  position: relative;
  top: 3px;
}
.pure-checkbox *,
.pure-radiobutton * {
  box-sizing: border-box;
}
.pure-checkbox *:before,
.pure-radiobutton *:before,
.pure-checkbox *:after,
.pure-radiobutton *:after {
  box-sizing: border-box;
}
.pure-checkbox input[type="checkbox"],
.pure-radiobutton input[type="checkbox"],
.pure-checkbox input[type="radio"],
.pure-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-radiobutton input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="radio"]:focus + label:before,
.pure-radiobutton input[type="radio"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before,
.pure-radiobutton input[type="checkbox"]:hover + label:before,
.pure-checkbox input[type="radio"]:hover + label:before,
.pure-radiobutton input[type="radio"]:hover + label:before {
  border-color: #2196F3;
}
.pure-checkbox input[type="checkbox"]:active + label:before,
.pure-radiobutton input[type="checkbox"]:active + label:before,
.pure-checkbox input[type="radio"]:active + label:before,
.pure-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}
.pure-checkbox input[type="checkbox"] + label,
.pure-radiobutton input[type="checkbox"] + label,
.pure-checkbox input[type="radio"] + label,
.pure-radiobutton input[type="radio"] + label {
  position: relative;
  padding: 5px 5px 5px 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}
.pure-checkbox input[type="checkbox"] + label:before,
.pure-radiobutton input[type="checkbox"] + label:before,
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: #2196F3;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border: 2px solid #2196F3;
  text-align: center;
  transition: all 0.4s ease;
}

.pure-checkbox.grey input[type="checkbox"] + label:before,
.pure-radiobutton.grey input[type="checkbox"] + label:before,
.pure-checkbox.grey input[type="radio"] + label:before,
.pure-radiobutton.grey input[type="radio"] + label:before {
  border: 2px solid #f5f5f5;
}

.pure-checkbox.black input[type="checkbox"] + label:before,
.pure-radiobutton.black input[type="checkbox"] + label:before,
.pure-checkbox.black input[type="radio"] + label:before,
.pure-radiobutton.black input[type="radio"] + label:before {
  border: 2px solid #8c8c8c;
}

.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #2196F3;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 16px;
  height: 16px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="checkbox"]:disabled + label:before,
.pure-radiobutton input[type="checkbox"]:disabled + label:before,
.pure-checkbox input[type="radio"]:disabled + label:before,
.pure-radiobutton input[type="radio"]:disabled + label:before {
  border-color: #cccccc;
}
.pure-checkbox input[type="checkbox"]:disabled:focus + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:focus + label:before,
.pure-checkbox input[type="radio"]:disabled:focus + label:before,
.pure-radiobutton input[type="radio"]:disabled:focus + label:before,
.pure-checkbox input[type="checkbox"]:disabled:hover + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:hover + label:before,
.pure-checkbox input[type="radio"]:disabled:hover + label:before,
.pure-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}
.pure-checkbox input[type="checkbox"]:disabled:checked + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:checked + label:before,
.pure-checkbox input[type="radio"]:disabled:checked + label:before,
.pure-radiobutton input[type="radio"]:disabled:checked + label:before {
  background-color: #cccccc;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 6px;
  width: 10px;
  height: 6px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}
.pure-checkbox.grey input[type="checkbox"] + label:after,
.pure-radiobutton.grey input[type="checkbox"] + label:after {
  border-color: #2196F3;
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
.pure-checkbox input[type="radio"]:checked + label:before,
.pure-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: white;
}
.pure-checkbox input[type="radio"]:checked + label:after,
.pure-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  border-radius: 50%;
}
.pure-checkbox input[type="checkbox"]:checked + label:before,
.pure-radiobutton input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #2196F3;
}
.pure-checkbox.black input[type="checkbox"]:checked + label:before,
.pure-radiobutton.black input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  border: 2px solid #2196F3;
}
.pure-checkbox.grey input[type="checkbox"]:checked + label:before,
.pure-radiobutton.grey input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #fff;
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}
.pure-checkbox.pure-checkbox-inline,
.pure-radiobutton.pure-checkbox-inline,
.pure-checkbox.pure-radiobutton-inline,
.pure-radiobutton.pure-radiobutton-inline {
  display: inline-block;
}
.pure-checkbox-toggle input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pure-checkbox-toggle input[type="checkbox"] + label {
  position: relative;
  padding: 5px 5px 5px 40px;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  display: block;
}
.pure-checkbox-toggle input[type="checkbox"] + label:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  content: '';
  color: #2196F3;
  width: 35px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.4s;
  background-color: #d6d6d6;
}
.pure-checkbox-toggle input[type="checkbox"] + label:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  content: '';
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  transition: all 0.2s;
  box-sizing: border-box;
}
.pure-checkbox-toggle input[type="checkbox"]:checked + label:before {
  box-shadow: inset 0 0 0 10px #2196F3;
}
.pure-checkbox-toggle input[type="checkbox"]:checked + label:after {
  left: 15px;
  border-color: #2196F3;
  background-color: #ffffff;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled + label {
  cursor: default;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled + label:before {
  box-shadow: inset 0 0 0 10px #e3e3e3;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled + label:after {
  border-color: #e3e3e3;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: inset 0 0 0 10px #999999;
}
.pure-checkbox-toggle input[type="checkbox"]:disabled:checked + label:after {
  border-color: #999999;
}
.pure-checkbox-toggle--right input[type="checkbox"] + label {
  padding: 5px 40px 5px 5px;
}
.pure-checkbox-toggle--right input[type="checkbox"] + label:before {
  left: auto;
  right: 0;
}
.pure-checkbox-toggle--right input[type="checkbox"] + label:after {
  left: auto;
  right: 15px;
}
.pure-checkbox-toggle--right input[type="checkbox"]:checked + label:after {
  left: auto;
  right: 0;
}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #2196F3;
  }
}

/*Switch*/
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #2196F3;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #2196F3;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}

.form-group .tgl-lable{
  float: left;
  display: inline-block;
  margin-right: 15px;
  padding: 4px 0 2px;
}

.form-group .tgl-btn{
  float: left;
}

/*Select Option*/
.select-language .dropdown-menu li a{
  width: 100%;
  background-position: 10px 5px;
  display: inline-block;
  padding: 4px 40px;
  background-size: 25px;
}

/*CSS Loading*/
.cssload-container {
  width: 100%;
  height: 80px;
  text-align: center;
  position: relative;
  top: 48%;
}

.cssload-speeding-wheel {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 3px solid rgb(255,255,255);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 725ms infinite linear;
    -o-animation: cssload-spin 725ms infinite linear;
    -ms-animation: cssload-spin 725ms infinite linear;
    -webkit-animation: cssload-spin 725ms infinite linear;
    -moz-animation: cssload-spin 725ms infinite linear;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*Mobile*/
@media (max-width: 768px){
  .container{
    padding-right: 0px;
    padding-left: 0px;
  }

  header{
    padding: 0 15px;
  }

  .header-menu {
      margin-right: 15px;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      margin: 0px;
  }

  .header-menu .menu-button{
    display: none;
  }

  .header-menu .menu-settings{
    display: none;
  }

  .header-menu .dropdown-lang{
    display: none;
  }

  .header-menu .dropdown-user{
    padding: 0 0 0 0;
  }

  .header-menu .dropdown-user a.dropdown-toggle{
    padding-top: 0px;
    position: fixed;
    right: 10px;
    top: 6px;
  }

  .header-menu .dropdown-user .user-name, .header-menu .dropdown-user .dropdown-down-icon{
    display: none;
  }

  .header-menu .dropdown-user a.dropdown-toggle > img{
    height: 40px;
  }

  .header-menu .dropdown-user .dropdown-menu{
    width: 100%;
    background: #fff;
    margin-top: 56px;
  }

  .header-menu .dropdown-user .dropdown-menu .dropdown-item{
    padding: 12px 15px 11px;
  }

  .header-menu  .language-mobile{
    display: block;
    padding: 12px 15px 11px;
  }

  .header-menu  .language-mobile .name{
    margin-bottom: 5px;
  }

  .header-menu .language-mobile a{
    border: 1px solid #f5f5f5;
    padding: 5px;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
  }

  .header{
    background: #fff;
  }

  .header .navbar-header{
    width: 100%;
    background: transparent;
  }

  .header .navbar-header .navbar-brand{
      width: 100%;
      text-align: center;
  }

  .header .navbar-header .navbar-brand.navbar-brand-small{
    display: none;
  }

  .header .navbar-header .navbar-brand.navbar-brand-big{
    display: block;
  }

  .header .menu-toggle{
    margin-left: 0!important;
    color: #2C3648;
  }

  /*Sidebar*/
  #menucontentwebuiPopover{
    display: none;
  }

  .sidebar{
    left: -240px;
    width: 240px;
  }

  body.body-collapsed .sidebar{
    left: 0;
  }

  body.body-collapsed .header .navbar-header{
    width: 100%;
  }

  body.body-collapsed .header .navbar-header .navbar-brand.navbar-brand-small{
    display: none;
  }

  body.body-collapsed .header .navbar-header .navbar-brand.navbar-brand-big{
    display: block;
  }

  body.body-collapsed .header .menu-toggle.disabled{
    margin-left: 0;
  }
  
  body.body-collapsed .sidebar .menu-navigation {
      margin-left: 0;
      width: 240px;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item.open {
      position: initial;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item .name{
    display: inline-block;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item > a{
    text-align: left;
    font-size: 14px;
    line-height: normal;
    height: auto;
    padding: 10px 8px 10px 9px;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item > a i{
    font-size: 22px;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item .menu-content{
    display: block;
    position: relative;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item .menu-content > li:first-child > a{
    border-radius: 0 0 0 0;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item .menu-content > li:last-child > a{
    border-radius: 0 0 0 0;
    border-bottom: none;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item .menu-content{
    display: none;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item.active .menu-content{
    display: block;
    background: #fff;
    border-radius: 0 0 0 0;
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item .menu-content > li > a{
    padding: 8px 10px 8px 0;
    color: rgb(127, 138, 159);
  }

  body.body-collapsed .sidebar .menu-navigation .nav-item.active .menu-content > li.active > a{
    color: #2196f3;
  }

  body.body-collapsed .sidebar .menu-navigation .menu-content{
    left: 47px;
  }

  .app-content {
    margin-left: 0;
  }

  body.body-collapsed .app-content {
    margin-left: 0;
  }

}