body{
  color: #120705;
  background: #fff;
    font-family: Montserrat,Georgia,'Times New Roman',Times,serif;
    font-size: 14px;
}

.bg-svg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*Section 4*/
.section-4{
  position: relative;
  z-index: 0;
  padding: 60px 0;
}

.section-4 .title{
  text-align: center;
  font-size: 3.0em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2196F3;
  margin-bottom: 10px;
}

.section-4 .desc{
  text-align: center;
  font-size: 16px;
  margin-bottom: 70px;
}

.section-4 .pricing {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #f6f6f6;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 6px;
  /*box-shadow: 0 8px 24px rgba(21,48,142,.14);*/
}

.section-4 .pricing-active {
  /*border: 3px solid #2196F3;
  margin-top: -10px;
  box-shadow: 7px 7px rgba(33, 150, 243, 0.1);*/
}

/*.section-4 .pricing:hover {
  border: 1px solid #2196F3;
}*/

/*.section-4 .pricing:hover h4 {
  color: #2196F3;
}*/

.section-4 .pricing-list-box{
  text-align: center;
}

.section-4 .pricing-list-box .col-md-3{
  float: inherit;
  display: inline-block;
}

.section-4 .pricing-head {
  text-align: center;
}

.section-4 .pricing-head h3,
.section-4 .pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.section-4 .pricing-head h3 span,
.section-4 .pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.section-4 .pricing-head h3 {
  font-weight: 300;
  color: #fff;
  padding: 12px 0;
  font-size: 27px;
  border-radius: 6px 6px 0 0;
  background: #2196f3;
}

.section-4 .pricing-head h4 {
  color: #000000;
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
  background: #fcfcfc;
}

.section-4 .pricing-head-active h4 {
  color: #2196F3;
}

.section-4 .pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.section-4 .pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

.section-4 .pricing-head .monthly{
  color: #000;
}

.section-4 .pricing-head .anually{
  margin-top: 25px;
}

.section-4 .pricing-head .anually *{
  font-size: 12px;
}

.section-4 .pricing-head .anually .price-discount{
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
}

/*Pricing Content*/
.section-4 .pricing-content{
  margin-bottom: 0;
}

.section-4 .pricing-content .underline{
  text-decoration: line-through;
}

.section-4 .pricing-content li {
  font-size: 12px;
  padding: 7px 10px;
  border-bottom: solid 1px #f6f6f6;
}

.section-4 .pricing-content .note{
  color: #8b8b8b;
}

.section-4 .pricing-content li.cloud .fa{
  font-size: 24px;
  width: 21px;
  height: 21px;
  background-size: 22px;
  margin: 5px 5px 0;
}

/*Pricing Footer*/
.section-4 .pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 15px 15px;
}

/*Priceing Active*/
.section-4 .price-active,
.section-4 .pricing:hover {
  z-index: 9;
}

.section-4 .price-active h4 {
  color: #2196F3;
}

.section-4 .no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.section-4 .no-space-pricing .price-active .pricing-head h4,
.section-4 .no-space-pricing .pricing:hover .pricing-head h4 {
  color: #2196F3;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}

.section-4 .yellow-crusta.btn {
  background-color: #00f3a2;
  color: #fff;
}
.section-4 .yellow-crusta.btn:hover,
.section-4 .yellow-crusta.btn:focus,
.section-4 .yellow-crusta.btn:active,
.section-4 .yellow-crusta.btn.active {
    color: #FFFFFF;
}


/*Payment*/
.payment-wrap{
  max-width: 500px;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 24px;
  box-shadow: 0 8px 24px rgba(21,48,142,.14);
  border-radius: 2px;
  padding: 30px;
}

.payment-plan .item{
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
  opacity: 0.7;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  border-radius: 6px;
}

.payment-plan .item .checkbox-text-right{
  font-size: 17px;
  margin-left: 30px;
}
.payment-plan .item .checkbox-text-right .price{
  display: inline-block;
  position: relative;
  top: -10px;
}

.payment-plan .item .checkbox-text-right .bill{
  white-space: nowrap;
  font-size: 12px;
  position: absolute;
}

.payment-plan .item .save{
  display: inline-block;
  border-radius: 6px;
  border: 1px dashed #2196F3;
  color: #2196F3;
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 6px 4px;
}

.payment-plan .item .checkbox-text-right .bold{
  font-weight: 600;
}

.payment-plan .item.active{
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.payment-plan .title_small{
  margin-bottom: 15px;
}

.payment-plan .title_small i{
  color: #2196F3;
}

.payment-method{
  margin-top: 15px;
}

.payment-tabs .item{
  float: left;
}

.payment-tabs .item a{
  display: inline-block;
  padding: 15px;
}

.payment-tabs .item.active a{
  border-bottom: 1px solid #2196F3;
}

.payment-checkout{
  margin-top: 30px;
}

.paypal-method{
  text-align: center;
}

.paypal-method img{
  display: inline-block;
  padding: 10px 0 20px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .section-4 .title{
    font-size: 2.0em;
  }
}