.list-account.max {
    height: 502px;
}

.bg-svg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.list-linkedin-accounts{
    max-width: 450px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 0;
    position: relative;
    z-index: 1;
}

.list-linkedin-accounts .title{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #2196F3;
    margin-bottom: 10px;
}

.list-linkedin-accounts .desc {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

/*Preview Link*/
.preview-linkedin .preview-comment{
    position: relative;
    padding: 7px 0px 12px;
    color: #999;
    text-align: center;
    border-top: 1px solid #eee;
    margin: 0 10px;
    margin-top: 10px;
}

.preview-linkedin .preview-comment .item{
    float: left;
    margin-right: 25px;
    font-weight: 600;
    font-size: 12px;
}

.preview-linkedin .preview-image .item .count{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 31%;
    font-size: 27px;
}

.preview-linkedin .preview-comment .item .linkedin-icon{
    position: relative;
    top: 3px;
}

.linkedin-icon{
    background-image: url(../img/linkedin-icon.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.linkedin-icon.like{
    background-position: 0 0;
}

.linkedin-icon.comment{
    background-position: 0 -22px;
}

.linkedin-icon.share{
    background-position: 0 -42px;
}

.preview-linkedin-link{
    position: relative;
}

.preview-linkedin-link .preview-header{
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
}

.preview-linkedin-link .preview-header i{
    font-size: 20px;
}

.preview-linkedin-link .preview-header .linkedin-logo{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 16px;
    color: #0d77b7;
    font-size: 18px;
}

.preview-linkedin-link .preview-header .linkedin-logo i{
    font-size: 30px;
}

.preview-linkedin-link .preview-content .user-info{
    padding: 10px 10px;
    position: relative;
}

.preview-linkedin-link .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
}

.preview-linkedin-link .preview-content .user-info .text{
    position: absolute;
    top: 8px;
    font-size: 13px;
    left: 61px;
    line-height: 15px;
}

.preview-linkedin-link .preview-content .user-info .text .name{
    font-weight: bold;
    color: #5e5e5e;
}

.preview-linkedin-link .preview-content .user-info .text span{
    color: #939393;
    font-size: 12px;
    padding-top: 2px;
    display: inline-block;
}

.preview-linkedin-link .preview-content .post-info,.preview-linkedin-link .preview-content .caption-info{
    padding: 10px 10px;
    word-break: break-all;
    color: #000;
}

.preview-linkedin-link .preview-content .post-info img,.preview-linkedin-link .preview-content .caption-info img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-linkedin-link .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #f5f5f5;
}

.preview-linkedin-link .preview-content .line-no-text.w50{
    width: 50%;
}

.preview-linkedin-link .preview-content .preview-link{
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 10px;
    margin-bottom: 10px;
}

.preview-linkedin-link .preview-content .preview-link .image{
    height: 264px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: url(../img/default_image.png) center center no-repeat;
    background-size: cover;
}

.preview-linkedin-link .preview-content .preview-link .info{
    padding: 10px;
    letter-spacing: normal;
}

.preview-linkedin-link .preview-content .preview-link .info .title{
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
}

.preview-linkedin-link .preview-content .preview-link .info .desc{
    color: #000;
    font-size: 12px;
    font-family: inherit;
}

.preview-linkedin-link .preview-content .preview-link .info .website{
    color: #90949c;
    font-size: 12px;
    text-transform: lowercase;
    font-family: inherit;
    margin-top: 0px;
}

.preview-linkedin-link .preview-content .preview-comment{
    margin-top: 0px;
}